#!/usr/bin/env perl
my $in = *STDIN; #STDIN is the Socket
my $out = *STDOUT; #STDOUT will talk to the journal

$out->print("My printing reaches the outside world\n");
$out->flush(); #proofing that we actually are talking to someone

$_ = <$in>; #read just one line for this moment.

$out->print("Received: ");
$out->print($_);
$out->print("\n");
$out->flush(); #print out what we jus read from stdin
if($_ == "0") {
    $out->print("Error: No Command for 0! \n");   

#{{#commands}}
} elsif($_ == "{{index}}") {
    $out->print("I execute code for command {{index}} ;-) \n");   
    #{{#codeLines}}
    system(qx{ {{{codeLine}}} });
    #{{/codeLines}}
#{{/commands}}

} else {
    $out->print("Oh! did someone just try to trick me?\n");
}

$out->print("Aaand, I'm gone!\n");
$out->flush();
