{
    "secret": "{{secret}}",
    "uri": "{{{uri}}}",
    "socketPath": "/run/commander.sk",
    "port": {{port}},
    "branchReactionMap": {
        {{#repositories}}
        {{{branchLine}}}
        {{/repositories}}
    },
    "commandMap": {
        {{#repositories}}
        {{{configLine}}}
        {{/repositories}}
    }
}